.artefato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    max-width: 530px;
    margin: 0 auto;
    border-radius: 20px;
    padding: 15px;
    border: 2px solid #d1a045;
    box-shadow: 
    0px 0px 20px 10px rgba(228, 182, 54, 0.24),
    0px 0px 5px 5px rgba(228, 182, 54, 0.178),
    0px 0px 100px 50px rgba(228, 182, 54, 0.171) inset,
    0px 0px 20px 10px rgba(228, 182, 54, 0.178) inset;
}
.icon {
    width: 100px;
    height: 100px;
    filter: 
    drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.26)) 
}
.title { 
    font-weight: 400;
}
.raridade {
    font-size: 18px;
}
