
.details > button {
    font-size: 30px;
    box-shadow: 0 0 30px  var(--bs);
    border: 1px solid var(--border);
    background-color: var(--bg);
    border-radius: 15px;
    width: calc(100% - 20px);
    padding: 10px;
    text-align: center;

    &:hover {
        background: var(--bg-hover);
        box-shadow: none;
    }
    &:active {
        background: var(--border)
    }
}
.details button img {
    transition: all 0.2s;
}
.details > div {
    margin-top: 10px;
    transition: all 0.5s;
}
.details_txt_closed {
    display: none;
}
.details_txt_open {
    display: flex;  
    flex-flow: column nowrap;
    gap: 10px;
    animation: fade 0.5s;
}
.details_txt_open p {
    animation: fadetxt 1.5s;
}

.arrow_open {transform: rotate(-90deg);}
.arrow_closed {transform: rotate(90deg);}

@keyframes fade {
    0% {opacity: 0; transform: translateY(-15px);}
    50% {opacity: 1;}
}
@keyframes fadetxt {
    0% {color: var(--txt);}
    100% {color: rgb(175, 175, 175);}
}
.verde {
    --bg: black;
    --bg-hover: rgb(0, 95, 0);
    --bs: rgba(0, 77, 0, 0.541);
    --txt: rgba(0, 77, 0, 0.541);
    --border: rgb(0, 95, 0);
}
.vermelho {
    --bg: black;
    --bg-hover: rgb(94, 0, 0);
    --bs: rgba(82, 0, 0, 0.541);
    --txt: rgba(82, 0, 0, 0.541);
    --border: rgb(94, 0, 0);
}
.branco {
    --bg: rgb(12, 12, 12);
    --bg-hover: rgb(24, 24, 24);
    --bs: none;
    --border: rgb(73, 73, 73);
}