.details > button {
    font-size: 30px;
    box-shadow: 0 0 30px  var(--bg);
    border: 1px solid var(--border);
    background-color: black;
    border-radius: 15px;
    width: calc(100% - 20px);
    padding: 10px;
    text-align: center;

    &:hover {
        background: var(--bg);
        box-shadow: none;
    }
}
.details button img {
    transition: all 0.2s;
}
.details > div {
    margin-top: 10px;
    transition: all 0.5s;
}
.details_txt_closed {
    display: none;
}
.details_txt_open {
    display: flex;  
    flex-flow: column nowrap;
    gap: 10px;
    animation: fade 0.5s;
}
.arrow_open {transform: rotate(-90deg);}
.arrow_closed {transform: rotate(90deg);}

@keyframes fade {
    0% {opacity: 0; transform: translateX(-15px);}
    100% {opacity: 1;}
}
.verde {
    --bg: rgba(0, 77, 0, 0.541);
    --border: rgb(0, 95, 0);
}
.vermelho {
    --bg: rgba(82, 0, 0, 0.541);
    --border: rgb(94, 0, 0);
}