
.details > button {
    font-size: 24px;
    font-weight: 300;
    box-shadow: 0 0 30px  var(--bs);
    border: 1px solid var(--border);
    background-color: var(--bg);
    border-radius: 15px;
    width: calc(100% - 22px);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    &:hover {
        background: var(--bg-hover);
        box-shadow: none;
    }
    &:active {
        background: var(--bg-active)
    }
}
.details button > * {
    transition: all 0.5s;
}
.details > div {
    margin-top: 10px;
    transition: all 0.5s;
}
.details_txt_closed {
    display: none;
}
.details_txt_open {
    display: flex;  
    flex-flow: column nowrap;
    gap: 10px;
    animation: fade 0.5s;
}
.details_txt_open p {
    animation: fadetxt 1.5s;
}

.arrow_open {
    transform: rotateX(180deg);
    width: 20px;
    height: auto;
}
.arrow_closed {transform: rotate(0deg);
    width: 20px;
    height: auto;
}

@keyframes fade {
    0% {opacity: 0; transform: translateY(-15px);}
    10% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes fadetxt {
    0% {color: var(--txt);}
    100% {color: rgb(133, 133, 133);}
}
.verde {
    --bg: black;
    --bg-hover: rgb(0, 95, 0);
    --bg-active: rgb(0, 105, 0);
    --bs: rgba(0, 77, 0, 0.541);
    --txt: rgba(0, 77, 0, 0.541);
    --border: rgb(0, 95, 0);
}
.vermelho {
    --bg: black;
    --bg-hover: rgb(94, 0, 0);
    --bg-active: rgb(107, 0, 0);
    --bs: rgba(82, 0, 0, 0.541);
    --txt: rgba(82, 0, 0, 0.541);
    --border: rgb(94, 0, 0);
}
.branco {
    --bg: rgb(12, 12, 12);
    --bg-hover: rgb(24, 24, 24);
    --bg-active: rgb(27, 27, 27);
    --bs: none;
    --border: rgba(73, 73, 73, 0);
}
.vazio {
    --bg: none;
    --bg-hover: rgb(12, 12, 12);
    --bg-active: rgb(15, 15, 15);
    --bs: none;
    --txt: rgb(133, 133, 133);
    --border: rgb(24, 24, 24);
}
.vazio button {
    justify-content: space-between;
}
@media (max-width: 500px) {
    .details button {
        font-size: 22px;
    }
}