.container {
    display: flex;
    flex-flow: column nowrap;
    gap: 15px;
    padding: 15px;
    border-radius: 15px;
    border: 2px solid rgb(31, 31, 31);
    background: rgba(0, 0, 0, 0.8)
}
.comp_container {
    display: flex;
    flex-flow: column nowrap;
}
.comp_container > div:nth-of-type(1) {
    height: 50px;
}
.comp_container > div:nth-of-type(2) {
    z-index: 3;
    filter: drop-shadow(0 0 5px black);
}
.comp_container > div:nth-of-type(3) {
    height: 50px;
    transform: translateY(-20px);
}
.titulo {
    font-size: 24px;
    font-weight: 300;
}