
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'montserrat';
  font-weight: 100;
}

h1 {font-family: 'jersey 15';}
h2 {font-size: 30px; font-weight: bold;} 
h3 {font-size: 26px;} 
p {font-size: 19px; color: rgb(133, 133, 133); font-weight: 400;} 
b{color: white; font-weight: 300;}

@media (max-width: 500px) {
  h3 {font-size: 24px;}
}

:root {
  --header: rgba(0, 0, 0, 0.87);
  --azul-1: rgb(64, 164, 231);
  --azul-2: rgb(62, 135, 196);
  --azul-3: rgb(27, 94, 148);
 
}

input, button {
  all: unset;
}

html,
body {
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background: rgb(2, 7, 14);
  scroll-padding-top: 100px;
  scroll-behavior: smooth !important;
}

main {
  width: 100%;
  min-height: 100vh;
  max-width: 1100px;
  margin: 80px auto 0;
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
  gap: 50px;
  background: black;
  box-shadow: 0 0 100px 0px black;
}

main > * {
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--header);
  backdrop-filter: blur(5px);
  border-bottom: 1px solid rgba(219, 219, 219, 0.158);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 80;
}
header h1 {
  font-size: 44px;
} 
@media (max-width: 500px) {
  header h1 {
    font-size: 36px;
  }
}
@media (max-width: 380px) {
  main {
    padding: 10px;
  }
}
@media (max-width: 340px) {
  header h1 {
    font-size: 34px;
  }
}


