@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'poppins'
}

:root {
  --header: rgba(72, 149, 212, 0.767);
  --azul-1: rgb(72, 149, 212);
  --azul-2: rgb(62, 135, 196);
  --azul-3: rgb(27, 94, 148);
 
}

input {
  all: unset;
}

@keyframes bg {
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 0% 0%;
	}
}

html,
body {
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(315deg, rgb(53, 0, 49) 3%, rgb(15, 56, 97) 38%, rgb(53, 0, 49) 68%, rgb(15, 56, 97) 98%);
  animation: bg 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

main {
  width: 100%;
  min-height: 100vh;
  max-width: 1200px;
  margin: 80px auto 0;
  padding: 20px;
  background: rgba(0, 0, 0, 0.76);
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.644);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--header);
  backdrop-filter: blur(5px);
  border-bottom: 1px solid rgba(219, 219, 219, 0.158);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center
}
header h1 {
  font-size: 30px;
}


