.menu_fechado {
    transform: translate3d(100%, 0, 0);
}
.menu_aberto {
    background: rgba(255, 255, 255, 0.103);
    backdrop-filter: blur(15px);
}

.menu {
    width: 260px;
    height: 100vh;
    transition: all 0.3s;
    padding: 40px 10px 10px 40px;
    z-index: 100;
    position: fixed;
    right: 0;
    top: 80px;
    display: flex;
    flex-flow: column nowrap;
    gap:10px
}
.menu a {
    font-size: 24px;
}

.fechar_menu {
    width: 100vw;
    height: calc(100vh - 80px);
    position: fixed;
    z-index: 90;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.397);
    transition: all 0.2s;
}

.display_none {
    display: none;
}

.display_block {
    display: block;
}
.counter {
    width: 38px;
    height: 50px;
}
.button {
    width: 38px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 110;
    transition: all 0.3s;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    padding: 0 6px;
}
.button > div {
    width: 100%;
    height: 3px;
    background-color: rgb(207, 207, 207);
    transition: all 0.3s;
}
.button:hover > div {
    background: rgb(255, 255, 255);
}
@media (max-width: 420px) {
  .counter, .button {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 380px) {
  .counter {
    display: none;
  }
}
.pros_cons {
    display: flex;
    flex-flow: row wrap;
}
.pros_cons > div {
    flex: 1 0 250px;
}